/* .text-color {
    color: red;
} */

.nav_background {
    background-color: grey !important;
}

.center {
    padding-left: calc(50% - 500px);
    padding-right: calc(50% - 500px);
}

.product-box {
    gap: 32px;
    flex-wrap: wrap;
}