* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    background-color: #020A18;
}

a {
    text-decoration: none;
}

/* //нужен для центрирования на планшете и мобиле */
.center {
    padding-left: calc(50% - 573px);
    padding-right: calc(50% - 573px);
}

.top {
    /* padding: 10px; */
    padding-bottom: 99px;
    /* background-color: #020A18; Лучше сразу для боди, новый контент получит*/
}

.header {
    /* padding-top: 39px; */
    padding: 39px;
    /* padding-bottom: 39px; */
    display: flex;
    justify-content: center;
    gap: 40px;
}

.heder__link {
    color: var(--ffffff, #FFF);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
}

.top__content {
    margin-top: 160px;
    margin-bottom: 197px;
    display: flex;
    gap: 128px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.top__info {
    width: 604px;
}

.subtitle {
    margin-bottom: 10px;
    color: var(--3-a-68-b-8, #3A68B8);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    text-transform: uppercase;
}

.title {
    margin-bottom: 40px;
    color: var(--ffffff, #FFF);
    font-size: 55px;
    font-style: normal;
    font-weight: 800;
    line-height: 130%;
}

.text {
    color: #fff;
    width: 550px;
    line-height: 160%;
    font-size: 18px;
    /* font-weight: 600; стал мылить текст */
    font-size: 18px;
    line-height: 28.8px;
    opacity: 0.7;
}

.top__buttons {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
    margin-top: 50px;
    display: flex;
    gap: 10px;
}

.button {
    display: inline-flex;
    border-radius: 5px;
    padding: 15px 30px;
    gap: 10px;
    background: #3a68b8;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    color: #fff;
    font-style: normal;
    line-height: normal;
    border: none;
    cursor: pointer;
    align-items: center;
    /* margin-right: 10px; либо gap: 10px; в top__buttons*/
}

.top__logos {
    display: flex;
    flex-wrap: wrap;
    gap: 71px;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.content {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 362px);
    justify-content: center;
    padding-top: 264px;
    padding-bottom: 243px;
}

.item {
    background: #132035;
    border-radius: 10px;
    padding: 30px;
    display: grid;
    justify-items: center;
    gap: 30px;
}

.item_big {
    grid-column: span 2;
    grid-row: span 2;
    gap: 60px;
}

.heading {
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 125%;
    text-align: center;
    color: #fff;
}

.item__text {
    font-style: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #fff;
    opacity: 0.7;
}

.title_about {
    margin-bottom: 40px;
    color: var(--ffffff, #FFF);
    font-size: 55px;
    font-style: normal;
    font-weight: 800;
    line-height: 130%;
}

.text_about {
    color: #fff;
    /* width: 550px; */
    line-height: 160%;
    font-size: 18px;
    /* font-weight: 600; стал мылить текст */
    font-size: 18px;
    line-height: 28.8px;
    opacity: 0.7;
    margin-bottom: 30px;
}

.about_block {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
    margin-top: 243px;
}

.about_text_block {
    min-width: 548px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media (max-width: 1024px) {
    .center {
        padding-left: calc(50% - 370px);
        padding-right: calc(50% - 370px);
    }

    .subtitle {
        font-size: 16px;
        line-height: 62px;
    }

    .title {
        font-size: 48px;
    }

    .top {
        padding-bottom: 120px;
    }

    .top__logos {
        gap: 32px;
        max-width: 650px;
        margin: auto;
        /* margin: 197px auto 0; */
    }

    .content {
        grid-template-columns: repeat(1, 362px);
        /* grid-auto-flow: dense; */
        gap: 30px;
    }

    .item_big {
        grid-column: span 1;
        grid-row: span 1;
        gap: 30px;
    }

    .item_big img {
        width: 98px;
    }

    .about_block {
        gap: 64px;
    }
}

@media (max-width: 767px) {

    .center {
        padding-left: 16 px;
        padding-right: 16 px;
    }

    .header {
        gap: 16px;
        border-radius: 10px;
        padding: 39px 0px;
    }

    .heder__link {
        font-size: 14px;
    }

    .top__content {
        margin-top: 64px;
    }

    .top__info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .subtitle {
        text-align: center;
        font-size: 14px;
        line-height: 23px;
    }

    .title {
        margin-top: 16px;
        margin-bottom: 64px;
        font-size: 28px;
        line-height: 160%;
        text-align: center;
        max-width: 343px;
    }

    .text {
        text-align: center;
        max-width: 343px;
    }

    .top__buttons {
        margin-top: 39px;
        gap: 24px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .top__logos {
        margin: 128px auto 0;
        display: flex;
        flex-direction: column;
    }

    .top_image {
        max-width: 100%;
    }

    .top__logos3 {
        /* margin-right: auto; */
        align-self: start;
    }

    .title_about {
        margin-bottom: 0;
        font-size: 24px;
        line-height: 31px;
    }

    .about_block {
        margin-top: 96px;
        gap: 32px;
        text-align: center;
    }
}